{% extends 'Base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container_12">
        <div class="grid_12">
            <div class="breadcrumbs">
                <a href="../../../login_manage/templates/login_manage/index.html">Home</a><span>&#8250;</span><a
                    href="#">Category</a><span>&#8250;</span><span
                    class="current">This page</span>
            </div><!-- .breadcrumbs -->
        </div><!-- .grid_12 -->
    </div><!-- .container_12 -->

    <div class="clear"></div>

    <section id="main">
        <div class="container_12">
            <div id="sidebar" class="grid_3">
                <aside id="categories_nav">
                    <h3>Categories</h3>

                    <nav class="left_menu">
                        <ul>
                            <li><a href="#">Solids <span>(21)</span></a></li>
                            <li><a href="#">Liquids <span> (27)</span></a></li>
                            <li><a href="#">Spray <span>(33)</span></a></li>
                            <li><a href="#">Electric <span>(17)</span></a></li>
                            <li><a href="#">For Cars <span>(23)</span></a></li>
                            <li><a href="#">For Room <span>(7)</span></a></li>
                            <li class="last"><a href="#">Other <span>(135)</span></a></li>
                        </ul>
                    </nav><!-- .left_menu -->
                </aside><!-- #categories_nav -->

                <aside id="shop_by">


                    <div class="currently_shopping">
                        <h3>Shop By</h3>
                        <p>Currently Shopping by:</p>
                        <ul>
                            <li><a title="close" class="close" href="#"></a>Price: <span>$0.00 - $999.99</span></li>
                            <li><a title="close" class="close" href="#"></a>Manufacturer: <span>Apple</span></li>
                        </ul>

                        <a class="clear_all" href="#">Clear All</a>

                        <div class="clear"></div>
                    </div><!-- .currently_shopping -->
                    <div class="currently_shopping">
                        <h4>Category</h4>
                    </div>
                    <form action="#" class="check_opt">
                        <p><input class="niceCheck" type="checkbox">For Home (23)</p>
                        <p><input class="niceCheck" type="checkbox" name="" value="">For Car (27)</p>
                        <p><input class="niceCheck" type="checkbox" name="" value="">For Office (9)</p>
                    </form>
                    <div class="currently_shopping">
                        <h4>Price</h4>
                    </div>


                    <form action="#" class="check_opt">
                        <p><input class="niceCheck" type="checkbox" name="" value="">0.00 - $49.99 (21)</p>
                        <p><input class="niceCheck" type="checkbox" name="" value="">$50.00 - $99.99 (7)</p>
                        <p><input class="niceCheck" type="checkbox" name="" value="">0$100.00 and above (15)</p>
                    </form>
                </aside><!-- #shop_by -->

                <aside id="specials" class="specials">
                    <div class="currently_shopping">
                        <h3>Specials</h3>
                    </div>


                    <ul>
                        <li>
                            <div class="prev">
                                <a href="product_page.html"><img src="../../../static/images/special1.png" alt=""
                                                                 title=""/></a>
                            </div>

                            <div class="cont">
                                <a href="product_page.html">Honeysuckle Flameless Luminary Refill</a>
                                <div class="prise"><span class="old">$177.00</span>$75.00</div>
                            </div>
                        </li>

                        <li>
                            <div class="prev">
                                <a href="product_page.html"><img src="../../../static/images/special2.png" alt=""
                                                                 title=""/></a>
                            </div>

                            <div class="cont">
                                <a href="product_page.html">Honeysuckle Flameless Luminary Refill</a>
                                <div class="prise"><span class="old">$177.00</span>$75.00</div>
                            </div>
                        </li>
                    </ul>
                </aside><!-- #specials -->

                <aside id="newsletter_signup">
                    <div class="currently_shopping">
                        <h3>Newsletter Signup</h3>
                    </div>

                    <p>Phasellus vel ultricies felis. Duis
                        rhoncus risus eu urna pretium.</p>

                    <form class="newsletter">
                        <input type="email" name="newsletter" class="your_email" value="New"
                               placeholder="Enter your email address..."/>
                        <input type="submit" id="submit" value="Subscribe"/>
                    </form>
                </aside><!-- #newsletter_signup -->
            </div><!-- .sidebar -->

            <div id="content" class="grid_9">
                <div></div>
                <div class="grid_product">
                    {% for x,y in rtn_dic.items %}
                        <div class="grid_3 product" id="product">
                            {% if y.IsNew == 1 %}
                                <img class="sale" src="../../../static/images/new.png" alt="New"/>
                            {% elif y.IsForSale == 1 %}
                                <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                            {% else %}
                                <div></div>
                            {% endif %}
                            <div class="prev">
                                <a href="/product_page/?ISBN={{ y.GoodISBN }}">
                                    <img id="Good" src="/static/media/{{ x.GoodPic }}" alt="" title=""/>
                                </a>
                            </div><!-- .prev -->
                            <h3 class="title" id="good_name">{{ y.GoodName }}</h3>
                            <div class="cart">
                                <div class="price">
                                    <div class="vert">
                                        <div class="price_new" id="price">{{ y.GoodPrice }}</div>

                                    </div>
                                </div>
                                <a class="obn"></a>
                                <a class="like" id="checkout" name="checkout"></a>
                                <a class="bay" id="add_to_cart" name="add_to_cart"></a>
                            </div><!-- .cart -->
                        </div><!-- .grid_3 -->

                    {% endfor %}
                </div>

                <div class="clear"></div>
            </div><!-- .grid_product -->


            <div class="pagination" style="margin-left: 38%">
                <ul>
                    <li class="prev"><a onclick="prevpage()" id="prev">&#8592;</a></li>
                    <li class="next"><a onclick="nextpage()" id="next">&#8594;</a></li>
                </ul>
            </div><!-- .pagination -->
        </div><!-- #content -->

        <div class="clear"></div>

        </div><!-- .container_12 -->
    </section><!-- #main -->

    <div class="clear"></div>
    <script src="{% static "js/jump.js" %}"></script>
    <script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
    <script src="{% static "js/layer/layer.js" %}"></script>
    <script>
        /*
            通过url获取相关字段的值
            比如你想获得GET 这本书的name
            那么调用 getQueryString('name')就行
         */
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var reg_rewrite = new RegExp("(^|/)" + name + "/([^/]*)(/|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            var q = window.location.pathname.substr(1).match(reg_rewrite);
            if (r != null) {
                return unescape(r[2]);
            } else if (q != null) {
                return unescape(q[2]);
            } else {
                return null;
            }
        }
    </script>
    <script>
        function prevpage() {
            var page = getQueryString('page');
            var type = getQueryString('type');
            if (page == null || page === "1") {
                var prev = document.getElementById('prev');
                prev.disabled = true;
            } else {
                page--;
                if (type == null)
                    window.location.href = '/catalog_grid/?page=' + page;
                else
                    window.location.href = '/catalog_grid/?page=' + page + "&type=" + type;
            }

        }
    </script>
    <script>
        function nextpage() {
            var page = getQueryString('page');
            var type = getQueryString('type');
            if (page == null) page = 2;
            else page++;
            if (type == null)
                window.location.href = '/catalog_grid/?page=' + page;
            else
                window.location.href = '/catalog_grid/?page=' + page + "&type=" + type;
        }
    </script>
{% endblock %}
