{% extends 'Base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="clear"></div>
    <!-- Billing -->
    <!-- Checkout -->
    <div class="container-fluid no-left-padding no-right-padding woocommerce-checkout">
        <!-- Container -->
        <div class="container">
            <!-- Login -->
            <!-- Billing -->
            <div class="checkout-form col-md-12 col-sm-12 col-xs-12 login-block" style="padding-top: 4%">
                <form>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3>订单地址</h3>
                        <div class="billing-field">
                            <div class="col-md-12 form-group">
                                <label>收件人姓名 *</label>
                                <input id="name" class="form-control" type="text" value="{{ default_info.name }}">
                            </div>
                            <div class="col-md-12 form-group">
                                <label>所在城市 *</label>
                                <div class="select">
                                    <select id="city" class="form-control">
                                        <option>北京</option>
                                        <option>上海</option>
                                        <option>广州</option>
                                        <option>深圳</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label>详细地址</label>
                                <input id="address" class="form-control" type="text"
                                       value="{{ default_info.detail_address }}">
                            </div>
                            <div class="col-md-12 form-group">
                                <label>邮编</label>
                                <input id="zipcode" class="form-control" type="text"
                                       value="{{ default_info.zip_code }}">
                            </div>
                            <div class="col-md-12 form-group">
                                <label>收件人电话</label>
                                <input id="telephone" class="form-control" type="text"
                                       value="{{ default_info.telephone }}">
                            </div>
                            <div class="col-md-12 form-group">
                                <label>收件人QQ</label>
                                <input id="qq" class="form-control" type="text" value="{{ default_info.qq }}">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3>您的订单</h3>
                        <div class="shipping-fields">
                            <div class="checkout-order-table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>商品名称</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for good in good_list %}
                                        <tr class="cart_item">
                                            <td class="product-name">{{ good.good_name }}</td>
                                            <td>{{ good.good_price }}</td>
                                            <td>{{ good.good_qty }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>运费</th>
                                        <td>免运费</td>
                                    </tr>
                                    <tr>
                                        <th>总价</th>
                                        <td>{{ sum_price }}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="checkout-payment">
                                <div><h3><strong>付款方式</strong></h3></div>
                                <ul>
                                    <li>
                                        <input value="wechat" checked="" type="radio">
                                        <label>货到付款</label>
                                    </li>
                                    <li>
                                        <input value="AliPay" type="radio">
                                        <label>明哥钱包<img src="../../../static/images/paypal.jpg" alt="Paypal"></label>
                                    </li>
                                </ul>
                            </div>
                            {% if default_info.is_banned == 0 %}
                                <div class="place-order">
                                    <input id="sub" value="提交订单" type="button">
                                </div>
                            {% else %}
                                <div class="place-order">
                                    <input id="sub" value="对不起，由于您的恶意行为，您已被禁止购物" type="button" disabled="disabled">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div><!-- Billing /- -->
        </div><!-- Container /- -->
    </div><!-- Checkout /- -->
    <script src="{% static 'js/layer/layer.js' %}"></script>
    <script>
        /*
            通过url获取相关字段的值
            比如你想获得GET 这本书的name
            那么调用 getQueryString('name')就行
         */
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var reg_rewrite = new RegExp("(^|/)" + name + "/([^/]*)(/|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            var q = window.location.pathname.substr(1).match(reg_rewrite);
            if (r != null) {
                return unescape(r[2]);
            } else if (q != null) {
                return unescape(q[2]);
            } else {
                return null;
            }
        }
    </script>
    <script>
        function getUrlParam(key) {
            // 获取参数
            var url = window.location.search;
            // 正则筛选地址栏
            var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
            // 匹配目标参数
            var result = url.substr(1).match(reg);
            //返回参数值
            return result ? decodeURIComponent(result[2]) : null;
        }
    </script>
    <script>
        /*
            检查信息合法性，合法的话才跳转传参
            如果只有单个商品，直接传商品名
            否则，传递一个json类型的对象，到最后的交易页面，将记录插入Order表
         */
        var good_name = getUrlParam('good_name');
        $('#sub').click(function () {
            var name = document.getElementById('name').value;
            var address = document.getElementById('address').value;
            var zipcode = document.getElementById('zipcode').value;
            var telephone = document.getElementById('telephone').value;
            var qq = document.getElementById('qq').value;
            layer.confirm('您确定要支付嘛？', {
                btn: ['确定', '再看看'] //按钮
            }, function () {
                if (name === "")
                    layer.msg("收货人姓名不能为空");
                else if (address === "")
                    layer.msg("地址不能为空");
                else if (zipcode === "")
                    layer.msg("邮编不能为空");
                else if (telephone === "")
                    layer.msg("电话号码不能为空");
                else if (qq === "")
                    layer.msg("qq不能为空");
                else if (good_name != null) {
                    $.ajax({
                            url: "/add_order/?name=" + name + "&address=" + address + "&zipcode=" + zipcode + "&telephone=" + telephone + "&qq=" + qq + "&good_name=" + good_name + "&IsSured=1",
                            type: 'GET',
                            success: function (arg) {
                                layer.msg('付款成功', {icon: 1});
                            }
                        }
                    );
                } else {
                    $.ajax({
                            url: "/add_order/?name=" + name + "&address=" + address + "&zipcode=" + zipcode + "&telephone=" + telephone + "&qq=" + qq + "&goods=" + getQueryString('jsonData') + "&IsSured=1",
                            type: 'GET',
                            success: function (arg) {
                                layer.msg('付款成功', {icon: 1});
                            }
                        }
                    );
                }
            }, function () {
                if (name === "")
                    layer.msg("收货人姓名不能为空");
                else if (address === "")
                    layer.msg("地址不能为空");
                else if (zipcode === "")
                    layer.msg("邮编不能为空");
                else if (telephone === "")
                    layer.msg("电话号码不能为空");
                else if (qq === "")
                    layer.msg("qq不能为空");
                else if (good_name != null) {
                    $.ajax({
                            url: "/add_order/?name=" + name + "&address=" + address + "&zipcode=" + zipcode + "&telephone=" + telephone + "&qq=" + qq + "&good_name=" + good_name + "&IsSured=0",
                            type: 'GET',
                            success: function (arg) {
                                layer.msg('相信我们还会再见的呢~', {icon: 2});
                            }
                        }
                    );
                } else {
                    $.ajax({
                            url: "/add_order/?name=" + name + "&address=" + address + "&zipcode=" + zipcode + "&telephone=" + telephone + "&qq=" + qq + "&goods=" + getQueryString('jsonData') + "&IsSured=0",
                            type: 'GET',
                            success: function (arg) {
                                layer.msg('相信我们还会再见的呢~', {icon: 2});
                            }
                        }
                    );
                }
            });

        })

    </script>
{% endblock %}
