{% extends 'Base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container_12">
        <div class="grid_12">
            <div class="breadcrumbs">
                <a href="../../../login_manage/templates/login_manage/index.html">Home</a><span>&#8250;</span><a
                    href="#">Category</a><span>&#8250;</span><span class="current">This page</span>
            </div><!-- .breadcrumbs -->
        </div><!-- .grid_12 -->
    </div><!-- .container_12 -->


    <section id="main">
        <div class="container_12">
            <div id="sidebar" class="grid_3">
                <aside id="categories_nav">
                    <h3>Categories</h3>

                    <nav class="left_menu">
                        <ul>
                            <li><a href="#">Solids <span>(21)</span></a></li>
                            <li><a href="#">Liquids <span> (27)</span></a></li>
                            <li><a href="#">Spray <span>(33)</span></a></li>
                            <li><a href="#">Electric <span>(17)</span></a></li>
                            <li><a href="#">For Cars <span>(23)</span></a></li>
                            <li><a href="#">For Room <span>(7)</span></a></li>
                            <li class="last"><a href="#">Other <span>(135)</span></a></li>
                        </ul>
                    </nav><!-- .left_menu -->
                </aside><!-- #categories_nav -->

                <aside id="specials" class="specials">
                    <h3>Specials</h3>

                    <ul>
                        <li>
                            <div class="prev">
                                <a href="#"><img src="../../../static/images/special1.png" alt="" title=""/></a>
                            </div>

                            <div class="cont">
                                <a href="#">Honeysuckle Flameless Luminary Refill</a>
                                <div class="prise"><span class="old">$177.00</span>$75.00</div>
                            </div>
                        </li>

                        <li>
                            <div class="prev">
                                <a href="#"><img src="../../../static/images/special2.png" alt="" title=""/></a>
                            </div>

                            <div class="cont">
                                <a href="#">Honeysuckle Flameless Luminary Refill</a>
                                <div class="prise"><span class="old">$177.00</span>$75.00</div>
                            </div>
                        </li>
                    </ul>
                </aside><!-- #specials -->

                <aside id="newsletter_signup">
                    <h3>Newsletter Signup</h3>
                    <p>Phasellus vel ultricies felis. Duis
                        rhoncus risus eu urna pretium.</p>

                    <form class="newsletter">
                        <input type="email" name="newsletter" class="your_email" value=""
                               placeholder="Enter your email address..."/>
                        <input type="submit" id="submit" value="Subscribe"/>
                    </form>
                </aside><!-- #newsletter_signup -->

                <aside id="banners">
                    <a id="ban_next" class="next arows" href="#"><span>Next</span></a>
                    <a id="ban_prev" class="prev arows" href="#"><span>Prev</span></a>

                    <h3>Banners</h3>

                    <div class="list_carousel">
                        <ul id="list_banners">
                            <li class="banner"><a href="#">
                                <div class="prev">
                                    <img src="../../../static/images/banner.png" alt="" title=""/>
                                </div><!-- .prev -->

                                <h2>New smells</h2>

                                <p>in the next series</p>
                            </a></li>

                            <li class="banner"><a href="#">
                                <div class="prev">
                                    <img src="../../../static/images/banner.png" alt="" title=""/>
                                </div><!-- .prev -->

                                <h2>New smells</h2>

                                <p>in the next series</p>
                            </a></li>

                            <li class="banner"><a href="#">
                                <div class="prev">
                                    <img src="../../../static/images/banner.png" alt="" title=""/>
                                </div><!-- .prev -->

                                <h2>New smells</h2>

                                <p>in the next series</p>
                            </a></li>

                        </ul>
                    </div><!-- .list_carousel -->
                </aside><!-- #banners -->

                <aside id="tags">
                    <h3>Tags</h3>
                    <a class="t1" href="#">california</a>
                    <a class="t2" href="#">canada</a>
                    <a class="t3" href="#">canon</a>
                    <a class="t4" href="#">cat</a>
                    <a class="t5" href="#">chicago</a>
                    <a class="t6" href="#">christmas</a>
                    <a class="t7" href="#">mars</a>
                    <a class="t8" href="#">church</a>
                    <a class="t9" href="#">city</a>
                    <a class="t10" href="#">clouds</a>
                    <a class="t11" href="#">color</a>
                    <a class="t12" href="#">concert</a>
                    <a class="t13" href="#">dance</a>
                    <a class="t14" href="#">day</a>
                    <a class="t15" href="#">dog</a>
                    <a class="t16" href="#">england</a>
                    <a class="t17" href="#">europe</a>
                </aside><!-- #community_poll -->
            </div><!-- .sidebar -->

            <div id="content" class="grid_9">
                <h1 class="page_title">{{ Good.GoodName }}</h1>

                <div class="product_page">
                    <div class="grid_4 img_slid" id="products">
                        <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                        <div class="preview slides_container">
                            <div class="prev_bg">
                                <a id="fdzoom" href="http://127.0.0.1:8000/static/media/{{ Good_pic_list.0.GoodPic }}"
                                   class="jqzoom" rel='gal1' title="">
                                    <img id="mainzoom" src="/static/media/{{ Good_pic_list.0.GoodPic }}" title=""
                                         alt=""/>
                                </a>
                            </div>
                        </div><!-- .prev -->

                        <ul class="pagination clearfix" id="thumblist">

                            <li><a href='javascript:void(0);' rel="{gallery: 'gal1',smallimage: '/static/images/{{ Good_pic_list.0.GoodPic }}',largeimage: '/static/images/{{ Good_pic_list.0.GoodPic }}'} "><img
                                    src='/static/images/{{ Good_pic_list.0.GoodPic }}' alt=""></a></li>
                            <li><a href='javascript:void(0);' rel="{gallery: 'gal1',smallimage: '/static/images/{{ Good_pic_list.1.GoodPic }}',largeimage: '/static/images/{{ Good_pic_list.1.GoodPic }}'} "><img
                                    src='/static/images/{{ Good_pic_list.1.GoodPic }}' alt=""></a></li>
                             <li><a href='javascript:void(0);' rel="{gallery: 'gal1',smallimage: '/static/images/{{ Good_pic_list.2.GoodPic }}',largeimage: '/static/images/{{ Good_pic_list.2.GoodPic }}'} "><img
                                    src='/static/images/{{ Good_pic_list.2.GoodPic }}' alt=""></a></li>
                             <li><a href='javascript:void(0);' rel="{gallery: 'gal1',smallimage: '/static/images/{{ Good_pic_list.3.GoodPic }}',largeimage: '/static/images/{{ Good_pic_list.3.GoodPic }}'} "><img
                                    src='/static/images/{{ Good_pic_list.3.GoodPic }}' alt=""></a></li>
                             <li><a href='javascript:void(0);' rel="{gallery: 'gal1',smallimage: '/static/images/{{ Good_pic_list.4.GoodPic }}',largeimage: '/static/images/{{ Good_pic_list.4.GoodPic }}'} "><img
                                    src='/static/images/{{ Good_pic_list.4.GoodPic }}' alt=""></a></li>
                        </ul>


                        </ul>

                        <div class="next_prev">
                            <a id="img_prev" class="arows" href="#"><span>Prev</span></a>
                            <a id="img_next" class="arows" href="#"><span>Next</span></a>
                        </div><!-- . -->
                    </div><!-- .grid_4 -->

                    <div class="grid_5">
                        <div class="entry_content">
                            <div class="review">
                                <a class="plus" href="#"></a>
                                <a class="plus" href="#"></a>
                                <a class="plus" href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <span>1 REVIEW(S)</span>
                                <a class="add_review" href="#">ADD YOUR REVIEW</a>
                            </div>
                            <p>{{ Good.GoodIntro }}</p>
                            <div class="ava_price">
                                <div class="availability_sku">
                                    <div class="availability">
                                        Availability: <span>In stock</span>
                                    </div>
                                    <div class="sku">
                                        SKU: <span>Candles OV</span>
                                    </div>
                                </div><!-- .availability_sku -->

                                <div class="price">
                                    {% if Good.GoodDiscount != 1 %}
                                        <div class="price_new">${{ Good.GoodPrice }}</div>
                                        <div class="price_old">${{ Good.GoodPrice }}</div>
                                    {% else %}
                                        <div class="price_new">${{ Good.GoodPrice }}</div>
                                    {% endif %}

                                </div><!-- .price -->
                            </div><!-- .ava_price -->

                            <div class="block_cart">

                                <div class="cart">
                                    <a href="#" class="bay">Add to Cart</a>
                                    <input type="text" name="" class="number" value="1"/>
                                    <span>Quantity:</span>
                                </div>
                                <div class="clear"></div>
                            </div><!-- .block_cart -->
                        </div><!-- .entry_content -->

                    </div><!-- .grid_5 -->

                    <div class="clear"></div>

                    <div class="grid_9">
                        <div id="wrapper_tab" class="tab1">
                            <a href="#" class="tab1 tab_link">Description</a>
                            <a href="#" class="tab2 tab_link">Reviews</a>

                            <div class="clear"></div>

                            <div class="tab1 tab_body">
                                <img src="/static/images/{{ Good.Intro_pic }}">
                                <div class="clear"></div>
                            </div><!-- .tab1 .tab_body -->

                            <div class="tab2 tab_body">
                                <h4>Customer reviews</h4>
                                <ul class="comments">
                                    <li>
                                        <div class="autor">Mike Example</div>
                                        ,
                                        <time datetime="2012-11-03">03.11.2012</time>

                                        <div class="evaluation">
                                            <div class="quality">
                                                <strong>Quality</strong>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a href="#"></a>
                                                <a href="#"></a>
                                            </div>
                                            <div class="price">
                                                <strong>Price</strong>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus_minus" href="#"></a>
                                                <a href="#"></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!-- .evaluation -->

                                        <p>Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet.
                                            Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum
                                            adipiscing, eros quis lobortis dictum.</p>
                                    </li>

                                    <li>
                                        <div class="autor">Mike Example</div>
                                        ,
                                        <time datetime="2012-11-03">03.11.2012</time>

                                        <div class="evaluation">
                                            <div class="quality">
                                                <strong>Quality</strong>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus_minus" href="#"></a>
                                            </div>
                                            <div class="price">
                                                <strong>Price</strong>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a href="#"></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!-- .evaluation -->

                                        <p>Etiam mollis volutpat odio, id euismod justo gravida a. Aliquam erat
                                            volutpat. Phasellus faucibus venenatis lorem, vitae commodo elit pretium et.
                                            Duis rhoncus lobortis congue. Vestibulum et purus dui, vel porta lectus. Sed
                                            vulputate pulvinar adipiscing.</p>
                                    </li>
                                </ul><!-- .comments -->

                                <form class="add_comments">
                                    <h4>Write Your Own Review</h4>

                                    <div class="evaluation">
                                        <div class="quality">
                                            <strong>Quality</strong><sup class="surely">*</sup>
                                            <input class="niceRadio" type="radio" name="quality" value="1"/><span
                                                class="eva_num">1</span>
                                            <input class="niceRadio" type="radio" name="quality" value="2"/><span
                                                class="eva_num">2</span>
                                            <input class="niceRadio" type="radio" name="quality" value="3"/><span
                                                class="eva_num">3</span>
                                            <input class="niceRadio" type="radio" name="quality" value="4"/><span
                                                class="eva_num">4</span>
                                            <input class="niceRadio" type="radio" name="quality" value="5"/><span
                                                class="eva_num">5</span>
                                        </div>
                                        <div class="price">
                                            <strong>Price</strong><sup class="surely">*</sup>
                                            <input class="niceRadio" type="radio" name="price" value="1"/><span
                                                class="eva_num">1</span>
                                            <input class="niceRadio" type="radio" name="price" value="2"/><span
                                                class="eva_num">2</span>
                                            <input class="niceRadio" type="radio" name="price" value="3"/><span
                                                class="eva_num">3</span>
                                            <input class="niceRadio" type="radio" name="price" value="4"/><span
                                                class="eva_num">4</span>
                                            <input class="niceRadio" type="radio" name="price" value="5"/><span
                                                class="eva_num">5</span>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!-- .evaluation -->

                                    <div class="nickname">
                                        <strong>Nickname</strong><sup class="surely">*</sup><br/>
                                        <input type="text" name="" class="" value=""/>
                                    </div><!-- .nickname -->

                                    <div class="your_review">
                                        <strong>Summary of Your Review</strong><sup class="surely">*</sup><br/>
                                        <input type="text" name="" class="" value=""/>
                                    </div><!-- .your_review -->

                                    <div class="clear"></div>

                                    <div class="text_review">
                                        <strong>Review</strong><sup class="surely">*</sup><br/>
                                        <textarea name="text"></textarea>
                                        <i>Note: HTML is not translated!</i>
                                    </div><!-- .text_review -->

                                    <input type="submit" value="Submit Review"/>
                                </form><!-- .add_comments -->
                                <div class="clear"></div>
                            </div><!-- .tab2 .tab_body -->

                            <div class="tab3 tab_body">
                                <h4>Custom Tab</h4>
                                <div class="clear"></div>
                            </div><!-- .tab3 .tab_body -->
                            <div class="clear"></div>
                        </div>
                        ​<!-- #wrapper_tab -->
                        <div class="clear"></div>
                    </div><!-- .grid_9 -->

                    <div class="clear"></div>

                    <div class="related">
                        <div class="c_header">
                            <div class="grid_7">
                                <h2>Related Products</h2>
                            </div><!-- .grid_7 -->

                            <div class="grid_2">
                                <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
                                <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
                            </div><!-- .grid_2 -->
                        </div><!-- .c_header -->

                        <div class="list_carousel">

                            <ul id="list_product" class="list_product">
                                <li class="">
                                    <div class="grid_3 product">
                                        <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                                        <div class="prev">
                                            <a href="product_page.html"><img src="../../../static/images/product_1.png"
                                                                             alt="" title=""/></a>
                                        </div><!-- .prev -->
                                        <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                        <div class="cart">
                                            <div class="price">
                                                <div class="vert">
                                                    <div class="price_new">$550.00</div>
                                                    <div class="price_old">$725.00</div>
                                                </div>
                                            </div>
                                            <a href="#" class="obn"></a>
                                            <a href="#" class="like"></a>
                                            <a href="#" class="bay"></a>
                                        </div><!-- .cart -->
                                    </div><!-- .grid_3 -->
                                </li>

                                <li class="">
                                    <div class="grid_3 product">
                                        <div class="prev">
                                            <a href="product_page.html"><img src="../../../static/images/product_2.png"
                                                                             alt="" title=""/></a>
                                        </div><!-- .prev -->
                                        <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                        <div class="cart">
                                            <div class="price">
                                                <div class="vert">
                                                    <div class="price_new">$550.00</div>
                                                    <div class="price_old">$725.00</div>
                                                </div>
                                            </div>
                                            <a href="#" class="obn"></a>
                                            <a href="#" class="like"></a>
                                            <a href="#" class="bay"></a>
                                        </div><!-- .cart -->
                                    </div><!-- .grid_3 -->
                                </li>

                                <li class="">
                                    <div class="grid_3 product">
                                        <div class="prev">
                                            <a href="product_page.html"><img src="../../../static/images/product_3.png"
                                                                             alt="" title=""/></a>
                                        </div><!-- .prev -->
                                        <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                        <div class="cart">
                                            <div class="price">
                                                <div class="vert">
                                                    <div class="price_new">$550.00</div>
                                                    <div class="price_old">$725.00</div>
                                                </div>
                                            </div>
                                            <a href="#" class="obn"></a>
                                            <a href="#" class="like"></a>
                                            <a href="#" class="bay"></a>
                                        </div><!-- .cart -->
                                    </div><!-- .grid_3 -->
                                </li>

                                <li class="">
                                    <div class="grid_3 product">
                                        <div class="prev">
                                            <a href="product_page.html"><img src="../../../static/images/product_4.png"
                                                                             alt="" title=""/></a>
                                        </div><!-- .prev -->
                                        <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                        <div class="cart">
                                            <div class="price">
                                                <div class="vert">
                                                    <div class="price_new">$550.00</div>
                                                    <div class="price_old">$725.00</div>
                                                </div>
                                            </div>
                                            <a href="#" class="obn"></a>
                                            <a href="#" class="like"></a>
                                            <a href="#" class="bay"></a>
                                        </div><!-- .cart -->
                                    </div><!-- .grid_3 -->
                                </li>
                            </ul><!-- #list_product -->
                        </div><!-- .list_carousel -->
                    </div><!-- .carousel -->
                </div><!-- .product_page -->
                <div class="clear"></div>

            </div><!-- #content -->

            <div class="clear"></div>

        </div><!-- .container_12 -->
    </section><!-- #main -->

    <div class="clear"></div>
    <script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
    <script src="{% static "js/jflow.plus.js" %}"></script>
    <script src="{% static "js/jquery.carouFredSel-5.2.2-packed.js" %}"></script>
    <script src="{% static "js/checkbox.js" %}"></script>
    <script src="{% static "js/radio.js" %}"></script>
    <script src="{% static "js/selectBox.js" %}"></script>
    <script src="{% static "js/jquery.jqzoom-core.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('.jqzoom').jqzoom({
                zoomType: 'standard',
                lens: true,
                preloadImages: true,
                alwaysOn: false
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("select").selectBox();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#wrapper_tab a').click(function () {
                if ($(this).attr('class') != $('#wrapper_tab').attr('class')) {
                    $('#wrapper_tab').attr('class', $(this).attr('class'));
                }
                return false;
            });
        });
    </script>

    <script>
        $(function () {
            $('#list_product').carouFredSel({
                prev: '#prev_c1',
                next: '#next_c1',
                auto: false
            });
            $('#list_banners').carouFredSel({
                prev: '#ban_prev',
                next: '#ban_next',
                scroll: 1,
                auto: false
            });
            $('#thumblist').carouFredSel({
                prev: '#img_prev',
                next: '#img_next',
                scroll: 1,
                auto: false,
                circular: false,
            });
            $(window).resize();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $(this).addClass('click')
            });
        })
    </script>


{% endblock %}