{% extends 'Base.html' %}
{% load staticfiles %}
{% block content %}



    <div class="container_12">
        <div class="grid_12">
            <div class="breadcrumbs">
                <a href="../../../login_manage/templates/login_manage/index.html">Home</a><span>&#8250;</span><a
                    href="#">Category</a><span>&#8250;</span><span class="current">This page</span>
            </div><!-- .breadcrumbs -->
        </div><!-- .grid_12 -->
    </div><!-- .container_12 -->


    <section id="main">
        <div class="container_12">
            <div id="sidebar" class="grid_3">
                <aside id="categories_nav">
                    <h3>Categories</h3>

                    <nav class="left_menu">
                        <ul>
                            <li><a href="#">Solids <span>(21)</span></a></li>
                            <li><a href="#">Liquids <span> (27)</span></a></li>
                            <li><a href="#">Spray <span>(33)</span></a></li>
                            <li><a href="#">Electric <span>(17)</span></a></li>
                            <li><a href="#">For Cars <span>(23)</span></a></li>
                            <li><a href="#">For Room <span>(7)</span></a></li>
                            <li class="last"><a href="#">Other <span>(135)</span></a></li>
                        </ul>
                    </nav><!-- .left_menu -->
                </aside><!-- #categories_nav -->

                <aside id="specials" class="specials">
                    <h3>Specials</h3>

                    <ul>
                        <li>
                            <div class="prev">
                                <a href="#"><img src="../../../static/images/special1.png" alt="" title=""/></a>
                            </div>

                            <div class="cont">
                                <a href="#">Honeysuckle Flameless Luminary Refill</a>
                                <div class="prise"><span class="old">$177.00</span>$75.00</div>
                            </div>
                        </li>

                        <li>
                            <div class="prev">
                                <a href="#"><img src="../../../static/images/special2.png" alt="" title=""/></a>
                            </div>

                            <div class="cont">
                                <a href="#">Honeysuckle Flameless Luminary Refill</a>
                                <div class="prise"><span class="old">$177.00</span>$75.00</div>
                            </div>
                        </li>
                    </ul>
                </aside><!-- #specials -->

                <aside id="newsletter_signup">
                    <h3>Newsletter Signup</h3>
                    <p>Phasellus vel ultricies felis. Duis
                        rhoncus risus eu urna pretium.</p>

                    <form class="newsletter">
                        <input type="email" name="newsletter" class="your_email" value=""
                               placeholder="Enter your email address..."/>
                        <input type="submit" id="submit" value="Subscribe"/>
                    </form>
                </aside><!-- #newsletter_signup -->

                <aside id="banners">
                    <a id="ban_next" class="next arows" href="#"><span>Next</span></a>
                    <a id="ban_prev" class="prev arows" href="#"><span>Prev</span></a>

                    <h3>Banners</h3>

                    <div class="list_carousel">
                        <ul id="list_banners">
                            <li class="banner"><a href="#">
                                <div class="prev">
                                    <img src="../../../static/images/banner.png" alt="" title=""/>
                                </div><!-- .prev -->

                                <h2>New smells</h2>

                                <p>in the next series</p>
                            </a></li>

                            <li class="banner"><a href="#">
                                <div class="prev">
                                    <img src="../../../static/images/banner.png" alt="" title=""/>
                                </div><!-- .prev -->

                                <h2>New smells</h2>

                                <p>in the next series</p>
                            </a></li>

                            <li class="banner"><a href="#">
                                <div class="prev">
                                    <img src="../../../static/images/banner.png" alt="" title=""/>
                                </div><!-- .prev -->

                                <h2>New smells</h2>

                                <p>in the next series</p>
                            </a></li>

                        </ul>
                    </div><!-- .list_carousel -->
                </aside><!-- #banners -->

                <aside id="tags">
                    <h3>Tags</h3>
                    <a class="t1" href="#">california</a>
                    <a class="t2" href="#">canada</a>
                    <a class="t3" href="#">canon</a>
                    <a class="t4" href="#">cat</a>
                    <a class="t5" href="#">chicago</a>
                    <a class="t6" href="#">christmas</a>
                    <a class="t7" href="#">mars</a>
                    <a class="t8" href="#">church</a>
                    <a class="t9" href="#">city</a>
                    <a class="t10" href="#">clouds</a>
                    <a class="t11" href="#">color</a>
                    <a class="t12" href="#">concert</a>
                    <a class="t13" href="#">dance</a>
                    <a class="t14" href="#">day</a>
                    <a class="t15" href="#">dog</a>
                    <a class="t16" href="#">england</a>
                    <a class="t17" href="#">europe</a>
                </aside><!-- #community_poll -->
            </div><!-- .sidebar -->

            <div id="content" class="grid_9">
                <h1 class="page_title" id="GoodName">{{ Good.GoodName }}</h1>

                <div class="product_page">
                    <div class="grid_4 img_slid" id="products">
                        {% if Good.IsForSale == 1 %}
                            <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                        {% elif Good.IsNew == 1 %}
                            <img class="sale" src="../../../static/images/new.png" alt="New"/>
                        {% else %}
                            <div></div>
                        {% endif %}
                        <div class="preview slides_container">
                            <div class="prev_bg">
                                <a id="fdzoom" href="http://127.0.0.1:8000/static/media/{{ Good_pic_list.0.GoodPic }}"
                                   class="jqzoom" rel='gal1' title="">
                                    <img id="mainzoom" src="/static/media/{{ Good_pic_list.0.GoodPic }}" title=""
                                         alt="" height="440px" width="440px"/>
                                </a>
                            </div>
                        </div><!-- .prev -->

                        <ul class="pagination clearfix" id="thumblist">

                            <li><a href='javascript:void(0);'
                                   rel="{gallery: 'gal1',smallimage: '/static/media/{{ Good_pic_list.0.GoodPic }}',largeimage: '/static/media/{{ Good_pic_list.0.GoodPic }}'} "><img
                                    src='/static/media/{{ Good_pic_list.0.GoodPic }}' alt="" height="140px"
                                    width="140px"></a></li>
                            <li><a href='javascript:void(0);'
                                   rel="{gallery: 'gal1',smallimage: '/static/media/{{ Good_pic_list.1.GoodPic }}',largeimage: '/static/media/{{ Good_pic_list.1.GoodPic }}'} "><img
                                    src='/static/media/{{ Good_pic_list.1.GoodPic }}' alt="" height="140px"
                                    width="140px"></a></li>
                            <li><a href='javascript:void(0);'
                                   rel="{gallery: 'gal1',smallimage: '/static/media/{{ Good_pic_list.2.GoodPic }}',largeimage: '/static/media/{{ Good_pic_list.2.GoodPic }}'} "><img
                                    src='/static/media/{{ Good_pic_list.2.GoodPic }}' alt="" height="140px"
                                    width="140px"></a></li>
                            <li><a href='javascript:void(0);'
                                   rel="{gallery: 'gal1',smallimage: '/static/media/{{ Good_pic_list.3.GoodPic }}',largeimage: '/static/media/{{ Good_pic_list.3.GoodPic }}'} "><img
                                    src='/static/media/{{ Good_pic_list.3.GoodPic }}' alt="" height="140px"
                                    width="140px"></a></li>
                            <li><a href='javascript:void(0);'
                                   rel="{gallery: 'gal1',smallimage: '/static/media/{{ Good_pic_list.4.GoodPic }}',largeimage: '/static/media/{{ Good_pic_list.4.GoodPic }}'} "><img
                                    src='/static/media/{{ Good_pic_list.4.GoodPic }}' alt="" height="140px"
                                    width="140px"></a></li>
                        </ul>


                        </ul>

                        <div class="next_prev">
                            <a id="img_prev" class="arows" href="#"><span>Prev</span></a>
                            <a id="img_next" class="arows" href="#"><span>Next</span></a>
                        </div><!-- . -->
                    </div><!-- .grid_4 -->

                    <div class="grid_5">
                        <div class="entry_content">
                            <div class="review">
                                {% for quality_star in quality_star_list %}
                                    {% ifequal quality_star 2 %}
                                        <a class="plus"></a>
                                    {% endifequal %}
                                    {% ifequal quality_star 1 %}
                                        <a class="plus_minus"></a>
                                    {% endifequal %}
                                    {% ifequal quality_star 0 %}
                                        <a></a>
                                    {% endifequal %}
                                {% endfor %}
                                <span>{{ comments_number }} 条书评</span>
                            </div>
                            <p>{{ Good.GoodIntro }}</p>
                            <div class="ava_price">
                                <div class="availability_sku">
                                    <div class="availability">
                                        <strong>价格：</strong>
                                    </div>
                                </div><!-- .availability_sku -->

                                <div class="price">
                                    <div class="price_new" id="price">${{ Good.GoodPrice }}</div>

                                </div><!-- .price -->
                            </div><!-- .ava_price -->

                            <div class="block_cart">

                                <div class="cart">
                                    {% if Good.GoodRemain != 0 %}
                                         <a class="bay" id="add_to_cart" onclick="add_to_cart()">加入购物车</a>
                                    <input id="qty" type="text" name="" class="number" value="1"/>
                                    <span>Quantity:</span>
                                    {% endif %}
                                </div>
                                <div class="cart" style="padding-top: 2%">
                                    {% if Good.GoodRemain != 0 %}
                                    <a class="bay" id="add_to_cart" onclick="checkout()">结账</a>
                                    {% else %}
                                    <a class="bay" id="add_to_cart">此商品已经卖完辣</a>
                                    {% endif %}
                                </div>
                                <div class="clear"></div>
                            </div><!-- .block_cart -->
                        </div><!-- .entry_content -->

                    </div><!-- .grid_5 -->

                    <div class="clear"></div>

                    <div class="grid_9">
                        <div id="wrapper_tab" class="tab1">
                            <a href="#" class="tab1 tab_link">介绍</a>
                            <a href="#" class="tab2 tab_link">书评</a>
                            <a href="#" class="tab3 tab_link">详细</a>
                            <div class="clear"></div>

                            <div class="tab1 tab_body">
                                <img src="/static/media/{{ Good.Intro_pic }}">
                                <div class="clear"></div>
                            </div><!-- .tab1 .tab_body -->

                            <div class="tab2 tab_body">
                                <ul class="comments" id="comments">

                                    {% for each_page_comment in page_comments %}

                                        <li>
                                            <div class="autor">{{ each_page_comment.comment.user.name }}</div>
                                            ,
                                            <time datetime="2012-11-03">{{ each_page_comment.comment.c_time|date:"Y-m-d H:i:s" }}</time>

                                            <div class="evaluation">
                                                <div class="quality">
                                                    {% for star in each_page_comment.star_list %}
                                                        {% ifequal star 2 %}
                                                            <a class="plus"></a>
                                                        {% endifequal %}
                                                        {% ifequal star 1 %}
                                                            <a class="plus_minus"></a>
                                                        {% endifequal %}
                                                        {% ifequal star 0 %}
                                                            <a></a>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </div>

                                                <div class="clear"></div>
                                            </div><!-- .evaluation -->

                                            <p>{{ each_page_comment.comment.content }}</p>
                                        </li>

                                    {% endfor %}


                                </ul><!-- .comments -->


                                {% if already_comment %}
                                {% else %}

                                    <form class="add_comments" id="add_comments">
                                        <h4>写下对此书的评价</h4>

                                        <div class="evaluation">
                                            <div class="quality">
                                                <strong>评分：</strong>
                                                <input type="radio" name="quality_radio" value="1"/><span
                                                    class="eva_num">1</span>
                                                <input type="radio" name="quality_radio" value="2"/><span
                                                    class="eva_num">2</span>
                                                <input type="radio" name="quality_radio" value="3"/><span
                                                    class="eva_num">3</span>
                                                <input type="radio" name="quality_radio" value="4"/><span
                                                    class="eva_num">4</span>
                                                <input type="radio" name="quality_radio" value="5"/><span
                                                    class="eva_num">5</span>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!-- .evaluation -->


                                        <div class="clear"></div>

                                        <div class="text_review">
                                            <strong>评论：</strong><br/>
                                            <textarea id="comment_content" name="text"></textarea>
                                        </div><!-- .text_review -->

                                        <input id="btn_submit_comment" value="发表评论" type="button" class="btn btn-primary"/>
                                    </form><!-- .add_comments -->
                                {% endif %}

                                <div class="clear"></div>
                            </div><!-- .tab2 .tab_body -->

                            <div class="tab3 tab_body">
                                <h4>书籍详细信息</h4>
                                <ul>
                                    <li><strong>出版社:</strong><span style="padding-left: 5%">{{ Good.Publisher }}</span></li>
                                    <li><strong>页数:</strong><span style="padding-left: 7%">{{ Good.Pages }}</span></li>
                                    <li><strong>出版日期:</strong><span style="padding-left: 3%">{{ Good.PublishDate }}</span></li>
                                    <li><strong>印刷日期:</strong><span style="padding-left: 3%">{{ Good.PrintDate }}</span></li>
                                    <li><strong>开本:</strong><span style="padding-left: 7%">{{ Good.Size }}</span></li>
                                    <li><strong>版次:</strong><span style="padding-left: 7%">第{{ Good.Edition }}版</span></li>
                                </ul>
                                <div class="clear"></div>
                            </div><!-- .tab1 .tab_body -->
                            <div class="clear"></div>
                        </div>
                        ​<!-- #wrapper_tab -->
                        <div class="clear"></div>
                    </div><!-- .grid_9 -->

                    <div class="clear"></div>

                    <div class="related">
                        <div class="c_header">
                            <div class="grid_7">
                                <h2>店主推荐</h2>
                            </div><!-- .grid_7 -->
                        </div><!-- .c_header -->

                        <div class="list_carousel">

                            <ul id="list_product" class="list_product">
                                {% for Good_rec in Good_recommend_rtn %}
                                    {% if forloop.counter <= 3 %}
                                    <li class="">
                                        <div style="padding-left: 10%">
                                            <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                                            <div class="prev">
                                                <a><img
                                                        src="/static/media/{{ Good_rec.pic.GoodPic }}"
                                                        alt="" title="" width="200px" height="200px"/></a>
                                            </div><!-- .prev -->
                                        </div><!-- .grid_3 -->
                                    </li>
                                    {% endif %}
                                {% endfor %}


                            </ul><!-- #list_product -->
                        </div><!-- .list_carousel -->
                    </div><!-- .carousel -->
                </div><!-- .product_page -->
                <div class="clear"></div>

            </div><!-- #content -->

            <div class="clear"></div>

        </div><!-- .container_12 -->
    </section><!-- #main -->

    <div class="clear"></div>
    <script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
    <script src="{% static "js/jflow.plus.js" %}"></script>
    <script src="{% static "js/jquery.carouFredSel-5.2.2-packed.js" %}"></script>
    <script src="{% static "js/checkbox.js" %}"></script>
    <script src="{% static "js/radio.js" %}"></script>
    <script src="{% static "js/selectBox.js" %}"></script>
    <script src="{% static "js/jquery.jqzoom-core.js" %}"></script>
    <script src="{% static "js/layer/layer.js" %}"></script>
    <script>
        function checkout() {
            var good_price = document.getElementById('price').innerHTML.replace("$", "");
            var good_name = document.getElementById('GoodName').innerHTML;
            window.location.href = "/checkout/?good_name=" + good_name + "&good_price=" + good_price;
        }
    </script>
    <script>
        function add_to_cart() {
            var good_name = document.getElementById('GoodName').innerHTML;
            var good_price = document.getElementById('price').innerHTML.replace("$", "");
            var good_pic = document.getElementById('mainzoom').getAttribute("src");
            var qty = document.getElementById('qty').value;
            $.ajax({
                    url: "/add_to_cart/?good_name=" + good_name + "&good_price=" + good_price + "&good_pic=" + good_pic + "&qty=" + qty,
                    type: 'GET',
                    success: function (arg) {
                        layer.msg("已添加到购物车");
                    }
                }
            )
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.jqzoom').jqzoom({
                zoomType: 'standard',
                lens: true,
                preloadImages: true,
                alwaysOn: false
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("select").selectBox();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#wrapper_tab a').click(function () {
                if ($(this).attr('class') != $('#wrapper_tab').attr('class')) {
                    $('#wrapper_tab').attr('class', $(this).attr('class'));
                }
                return false;
            });
        });
    </script>

    <script>
        /*
            前后按钮
         */
        $(function () {
            $('#list_product').carouFredSel({
                prev: '#prev_c1',
                next: '#next_c1',
                auto: false
            });
            $('#list_banners').carouFredSel({
                prev: '#ban_prev',
                next: '#ban_next',
                scroll: 1,
                auto: false
            });
            $('#thumblist').carouFredSel({
                prev: '#img_prev',
                next: '#img_next',
                scroll: 1,
                auto: false,
                circular: false,
            });
            $(window).resize();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $(this).addClass('click')
            });
        })
    </script>

    <!-- 这是是评论区设计的js代码 -->

    <!-- 如果没有买过这本书，那么按钮无功能 -->

    {% if user_buy %}

        <!-- 点击按钮之后，保存新发表的评论，然后局部刷新评论区 -->
        <script type="text/javascript">

            $(document).ready(function () {
                $("#btn_submit_comment").click(function () {
                    var quality = "0";
                    var radios = document.getElementsByName("quality_radio");
                    for (var i = 0; i < radios.length; i++) {
                        if (radios[i].checked) {
                            quality = radios[i].value
                        }
                    }
                    var content = document.getElementById("comment_content").value;
                    if (quality === "0") {
                        alert("请选择评分！");
                    } else {
                        if (content === "") {
                            alert("请填写评论！");
                        } else {
                            var data = {
                                "quality": quality,
                                "content": content,
                            };
                            $.getJSON('/show_comments/', data, function (data) {
                                $("#comments").html(data.main_data)
                            });
                            layer.msg("书评发表成功！");
                            $('#add_comments').css('display', 'none');
                        }
                    }
                })
            })

        </script>

    {% else %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#comment_content').css('readonly', 'readonly');
                $("#btn_submit_comment").click(function () {
                    layer.msg("你未购买这本书，无法评论！");
                })
            })
        </script>

    {% endif %}








{% endblock %}