{% extends 'Base.html' %}
{% load staticfiles %}
{% block islogin %}
    {% if is_login %}
        <div class="welcome" id="welcome1">
            欢迎您，{{ user.name }} <a onclick="logout();">注销</a>
        </div><!-- .welcome -->
    {% else %}
        <div class="welcome" id="welcome1">
            欢迎您，游客 <a href="/login/">登录</a> or <a
                href="/login/">注册</a>.
        </div><!-- .welcome -->
    {% endif %}
{% endblock %}
{% block content %}
    <section id="main">
        <div class="container_12">
            <div id="content" style="padding-left: 15%">

                <div class="listing_product">
                    {% for good in rtn_list %}
                        <div class="product_li">
                            <div class="grid_3">
                                {% if good.good.IsNew == 1 %}
                                    <img class="sale" src="../../../static/images/new.png" alt="New"/>
                                {% elif good.good.IsForSale == 1 %}
                                    <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                                {% else %}
                                    <div></div>
                                {% endif %}
                                <div class="prev">
                                    <a href="/product_page/?ISBN={{ good.good.GoodISBN }}"><img src="/static/media/{{ good.pic.GoodPic }}" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                            </div><!-- .grid_3 -->

                            <div class="grid_4">
                                <div class="entry_content">
                                    <a href="/product_page/?ISBN={{ good.good.GoodISBN }}"><h3 class="title">{{ good.good.GoodName }}</h3></a>
                                    <div class="review">
                                        <a class="plus" href="#"></a>
                                        <a class="plus" href="#"></a>
                                        <a class="plus" href="#"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                        <span>1 REVIEW(S)</span>
                                    </div>
                                    <p>{{ good.good.GoodIntro }}</p>
                                </div><!-- .entry_content -->
                            </div><!-- .grid_4 -->

                            <div class="grid_2">
                                <div class="cart">
                                    <div class="price">
                                        <div class="price_new">${{ good.price }}</div>
                                    </div>
                                    {% if is_login %}
                                    <a href="#" class="bay" name="add_to_cart">Add to Cart</a>
                                    <a href="#" class="bay" name="checkout">Buy it now</a>
                                    {% else %}
                                    <a href="#" class="bay">Add to Cart</a>
                                    <a href="#" class="bay">Buy it now</a>
                                    {% endif %}
                                </div><!-- .cart -->
                            </div><!-- .grid_2 -->
                            <div class="clear"></div>
                        </div><!-- .article -->
                    {% endfor %}
                </div>



            </div><!-- #content -->

            <div class="clear"></div>

        </div><!-- .container_12 -->
    </section><!-- #main -->
    <script>
        $("a[name='checkout']").each(function () {
            var currentEle = $(this);
            currentEle.on('click', function () {
                var good_price = currentEle.prev().prev().children().text().replace("$", "");
                var good_name = currentEle.parent().parent().prev().children().children().children().html();
                window.location.href = "/checkout/?good_name=" + good_name + "&good_price=" + good_price;
            })
        });
    </script>
    <script>
        $("a[name='add_to_cart']").each(function () {
            var currentEle = $(this);
            currentEle.on('click', function () {
                var good_price = currentEle.prev().children().text().replace("$", "");
                var good_name = currentEle.parent().parent().prev().children().children().children().html();
                var good_pic = currentEle.parent().parent().prev().prev().children().children().children().attr("src");
                $.ajax({
                        url: "/add_to_cart/?good_name=" + good_name + "&good_price=" + good_price + "&good_pic=" + good_pic,
                        type: 'GET',
                        success: function (arg) {
                            layer.msg("已添加到购物车");
                        }
                    }
                )
            })
        });

    </script>
    <script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
    <script src="{% static "js/layer/layer.js" %}"></script>
{% endblock %}