{% extends 'Base.html' %}
{% load staticfiles %}

{% block content %}
    <section id="main" class="entire_width">
        <div class="container_12">
            <div class="grid_12">
                <h1 class="page_title">Shopping Cart</h1>

                <table class="cart_product">
                    <tr>
                        <th class="images"></th>
                        <th class="bg name">书名</th>
                        <th class="edit"></th>
                        <th class="bg price">单价</th>
                        <th class="qty">数量</th>
                        <th class="bg subtotal">总价</th>
                        <th class="close"></th>
                    </tr>
                    {% for rtn in rtn_list %}
                        <tr id="good_list">
                            <td class="images"><a href="product_page.html"><img
                                    src="/static/media/{{ rtn.pic.GoodPic }}"
                                    alt="Product 6"></a></td>
                            <td class="bg name">{{ rtn.info.GoodName }}</td>
                            <td class="edit"><a title="Edit" href="#">Edit</a></td>
                            <td class="bg price">{{ rtn.info.GoodPrice }}</td>
                            <td class="qty"><input type="text" name="qty" value="" placeholder="{{ rtn.qty }}"/></td>
                            <td class="bg subtotal">$750.00</td>
                            <td class="close"><a title="close" class="close" href="#"></a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="7" class="cart_but">
                            <button class="continue"><span>icon</span>Continue Shopping</button>
                            <button class="update" onclick="check_out()"><span>icon</span>Update Shopping Cart</button>
                        </td>
                    </tr>
                </table>
            </div><!-- .grid_12 -->

            <div id="content_bottom">
                <div class="grid_4">
                    <div class="bottom_block estimate">
                        <h3>Estimate Shipping and Tax</h3>
                        <p>Enter your destination to get a shipping estimate.</p>
                        <form>
                            <p>
                                <strong>Country:</strong><sup class="surely">*</sup><br/>
                                <select>
                                    <option>United States</option>
                                    <option>United States</option>
                                </select>
                            </p>
                            <p>
                                <strong>State/Province:</strong><br/>
                                <select>
                                    <option>Please select region, state or province</option>
                                    <option>Please select region, state or province</option>
                                </select>
                            </p>
                            <p>
                                <strong>Zip/Postal Code</strong><br/>
                                <input type="text" name="" value=""/>
                            </p>
                            <input type="submit" id="get_estimate" value="Get a Quote"/>
                        </form>

                    </div><!-- .estimate -->
                </div><!-- .grid_4 -->

                <div class="grid_4">
                    <div class="bottom_block discount">
                        <h3>Discount Codes</h3>
                        <p>Enter your coupon code if you have one.</p>
                        <form>
                            <p>
                                <input type="text" name="" value="" placeholder="United States"/>
                            </p>
                            <input type="submit" id="apply_coupon" value="Apply Coupon"/>
                        </form>
                    </div><!-- .discount -->
                </div><!-- .grid_4 -->

                <div class="grid_4">
                    <div class="bottom_block total">
                        <table class="subtotal">
                            <tr>
                                <td>Subtotal</td>
                                <td class="price">$1, 500.00</td>
                            </tr>
                            <tr class="grand_total">
                                <td>Grand Total</td>
                                <td class="price">$1, 500.00</td>
                            </tr>
                        </table>
                        <button class="checkout">PROCEED TO CHECKOUT</button>
                        <a href="#">Checkout with Multiple Addresses</a>
                    </div><!-- .total -->
                </div><!-- .grid_4 -->

                <div class="clear"></div>
            </div><!-- #content_bottom -->
            <div class="clear"></div>

            <div class="clear"></div>

            <div class="carousel" id="following">
                <div class="c_header">
                    <div class="grid_10">
                        <h5>Based on your selection, you may be interested in the following item:</h5>
                    </div><!-- .grid_10 -->

                    <div class="grid_2">
                        <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
                        <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
                    </div><!-- .grid_2 -->
                </div><!-- .c_header -->

                <div class="list_carousel">

                    <ul id="list_product" class="list_product">
                        <li class="">
                            <div class="grid_3 product">
                                <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_1.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                            <div class="price_old">$725.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>

                        <li class="">
                            <div class="grid_3 product">
                                <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_2.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                            <div class="price_old">$725.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>

                        <li class="">
                            <div class="grid_3 product">
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_3.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>

                        <li class="">
                            <div class="grid_3 product">
                                <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_4.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                            <div class="price_old">$725.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>

                        <li class="">
                            <div class="grid_3 product">
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_5.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                            <div class="price_old">$725.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>
                    </ul><!-- #list_product -->
                </div><!-- .list_carousel -->
            </div><!-- .carousel -->
        </div><!-- .container_12 -->
    </section><!-- #main -->
    <script>
        var jsonObj = {};
        var count = 0;
        /*
            获取购物车页面的所有信息，比如书名，价格，输入的数量
            之后将它们打包成一个json类型，传参跳转到checkout页面结算
         */
        function check_out() {
            $("tr[id='good_list']").each(function () {
                var currentEle = $(this);
                var book_name = currentEle.children().next().html();
                var book_price = currentEle.children().next().next().next().html();
                var book_qty = currentEle.children().next().next().next().next().children().attr("placeholder");
                jsonObj["book_name" + count] = book_name;
                jsonObj["book_price" + count] = book_price;
                jsonObj["book_qty" + count] = book_qty;
                count++;
            });
            window.location.href = "/checkout/?jsonData="+escape(JSON.stringify(jsonObj));
        }
    </script>
{% endblock %}