{% extends 'Base.html' %}
{% load staticfiles %}

{% block content %}
    <section id="main" class="entire_width">
        <div class="container_12">
            <div class="grid_12">
                <h1 class="page_title">购物车</h1>

                <table class="cart_product" id="cart_tb">
                    <tr>
                        <th>id</th>
                        <th class="images"></th>
                        <th class="bg name">书名</th>
                        <th class="bg price">单价</th>
                        <th class="qty">数量</th>
                        <th class="bg subtotal">总价</th>
                        <th class="close"></th>
                    </tr>
                    {% for rtn in rtn_list %}
                        <tr id="good_list">
                            <td>{{ rtn.id }}</td>
                            <td class="images"><a href="product_page.html"><img
                                    src="/static/media/{{ rtn.pic.GoodPic }}"
                                    alt="Product 6"></a></td>
                            <td class="bg name">{{ rtn.info.GoodName }}</td>
                            <td class="bg price">{{ rtn.info.GoodPrice }}</td>
                            <td class="qty"><input type="text" name="qty" value="{{ rtn.qty }}" id="qty"
                                                   style="width: 30%"/></td>
                            <td class="bg subtotal">{{ rtn.sum }}</td>
                            <td class="close"><a title="close" class="close" id="delete"></a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="7" class="cart_but">
                            <button class="continue" onclick="
                              window.location.href = '/catalog_grid/';
                            "><span>icon</span>重新购物</button>
                            <button class="update" onclick="delete_all()"><span>icon</span>清空购物车</button>
                        </td>
                    </tr>
                </table>
            </div><!-- .grid_12 -->

            <div id="content_bottom">
                <div class="grid_4" style="width: 20%">
                </div>
                <div class="grid_4" style="width: 20%">
                </div>
                <div class="grid_4" style="margin-left: 65%">
                    <div class="bottom_block total">
                        <table class="subtotal">
                            <tr class="grand_total">
                                <td>总价</td>
                                <td class="price">${{ Total_sum }}</td>
                            </tr>
                        </table>
                        <button class="checkout" onclick="check_out()">去结账</button>
                    </div><!-- .total -->
                </div><!-- .grid_4 -->

                <div class="clear"></div>
            </div><!-- #content_bottom -->
            <div class="clear"></div>

            <div class="clear"></div>

            <div class="carousel" id="following">
                <div class="c_header">
                    <div class="grid_10">
                        <h5>Based on your selection, you may be interested in the following item:</h5>
                    </div><!-- .grid_10 -->

                    <div class="grid_2">
                        <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
                        <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
                    </div><!-- .grid_2 -->
                </div><!-- .c_header -->

                <div class="list_carousel">

                    <ul id="list_product" class="list_product">
                        <li class="">
                            <div class="grid_3 product">
                                <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_1.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                            <div class="price_old">$725.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>

                        <li class="">
                            <div class="grid_3 product">
                                <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_2.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                            <div class="price_old">$725.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>

                        <li class="">
                            <div class="grid_3 product">
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_3.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>

                        <li class="">
                            <div class="grid_3 product">
                                <img class="sale" src="../../../static/images/sale.png" alt="Sale"/>
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_4.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                            <div class="price_old">$725.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>

                        <li class="">
                            <div class="grid_3 product">
                                <div class="prev">
                                    <a href="product_page.html"><img src="../../../static/images/product_5.png" alt=""
                                                                     title=""/></a>
                                </div><!-- .prev -->
                                <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            <div class="price_new">$550.00</div>
                                            <div class="price_old">$725.00</div>
                                        </div>
                                    </div>
                                    <a href="#" class="obn"></a>
                                    <a href="#" class="like"></a>
                                    <a href="#" class="bay"></a>
                                </div><!-- .cart -->
                            </div><!-- .grid_3 -->
                        </li>
                    </ul><!-- #list_product -->
                </div><!-- .list_carousel -->
            </div><!-- .carousel -->
        </div><!-- .container_12 -->
    </section><!-- #main -->
    <script>
        var jsonObj = {};
        var count = 0;

        /*
            获取购物车页面的所有信息，比如书名，价格，输入的数量
            之后将它们打包成一个json类型，传参跳转到checkout页面结算
         */
        function check_out() {
            $("tr[id='good_list']").each(function () {
                var currentEle = $(this);
                var book_name = currentEle.children().next().next().html();
                var book_price = currentEle.children().next().next().next().html();
                var book_qty = currentEle.children().next().next().next().next().children().val();
                jsonObj["book_name" + count] = book_name;
                jsonObj["book_price" + count] = book_price;
                jsonObj["book_qty" + count] = book_qty;
                count++;
            });
            window.location.href = "/checkout/?jsonData=" + escape(JSON.stringify(jsonObj));
        }
    </script>
    <script>
        $("input[id='qty']").each(function () {
            var currentEle = $(this);
            currentEle.on('blur', function () {
                var qty = currentEle.val();
                var id = currentEle.parent().prev().prev().prev().prev().html();
                $.ajax({
                        url: "/changeqty/?id=" + id + "&qty=" + qty,
                        type: 'GET',
                        success: function (arg) {

                        }
                    }
                );
            })
        })
    </script>
    <script>
        $("a[id='delete']").each(function () {
            var currentEle = $(this);
            var id = currentEle.parent().prev().prev().prev().prev().prev().prev().prev().html();
            currentEle.on('click', function () {
                $.ajax({
                        url: "/delete_item/?id=" + id,
                        type: 'GET',
                        success: function (arg) {
                            currentEle.parent().parent().remove();
                        }
                    }
                );
            })
        })
    </script>
    <script>
        function delete_all() {
            $.ajax({
                    url: "/delete_all/",
                    type: 'GET',
                    success: function (arg) {
                        var tb = document.getElementById('cart_tb');
                        for(i = 1; i < tb.rows.length; i++){
                            tb.deleteRow(i);
                            rowNum = rowNum - 1;
                        }
                    }
                }
            );
        }
    </script>
{% endblock %}